.title{
    text-align: center;
}
.searchbox{
    padding:2px;
    text-align: center;
}
input{
    padding:5px;
    background-color: lightskyblue;
    border-style: solid; 
    border-width: 1px;
    border-color:  var(--green);
}
